*root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}



.product-card {
  width: 250px;
  padding: 16px;
  border-radius: 12px;
  border: 2px solid saddlebrown;;
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-card h2,h3{
  margin: 0;
  padding: 0;
}
