.header {
    background:#020617;
    color:#ffffff;
    padding:16px 8%;
    display:flex;
    justify-content:space-between;
}

#body {
    margin:0;
    font-family:Poppins,sans-serif;
    background:#f8fafc;
    color:#334155;
}
#main {
    padding:32px 8%;
}
#about {
     display:flex;
     gap:24px;
     align-items:center;
     justify-content: space-between;
     margin-bottom:48px;
}
.project {
    background: #fff;
    padding: 12px;
    flex: 1 1 220px;
}

#projects {
    display:flex;
    gap:16px;
    flex-wrap:wrap;
}
.navbar a{
    color:#fff;
    margin-left:16px;
}
#about img {
    width:160px;
    max-width: 350px;
    height: auto;
    border-radius:10px;
}

#about h1{
    margin-bottom:10px;
}

#projects {
    margin-bottom:40px;
}

.footer {
    text-align:center;
    padding:16px;
    font-size:14px;
    color:#64748b;
}


@media (max-width: 768px) {

  .header {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  #about {
    flex-direction: column;
    text-align: center;
  }

  #about img {
    width: 100%;
    max-width: 250px;
  }
  #contact {
    background:#fff;
    padding:24px;
}

  #projects {
    flex-direction: column;
  }

}

.form{
  width: 320px;
  margin: auto;
}

.form-field{
  border: 3px solid black;
  border-radius: 8px;
  padding: 12px;
}

.fields{
  margin-bottom: 10px;
}

label{
  display: block;
  margin-bottom: 4px;
}

input, textarea{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

textarea{
  resize: none;
}

.buttons button{
  border-radius: 10px;
  width: 100%;
  padding: 6px;
  margin-top: 6px;;
  color: #020617;
}

.input{
  border-radius: 10px
}


textarea{
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 10px;  
}


.fav_sub input[type="radio"] {
  accent-color: #334155;
  width: 18px;
  height: 18px;
  vertical-align: left;
  cursor: pointer;
}

.fav_sub {
  display: flex;
  flex-direction: column;
}

.fav_sub input 
{
  display: flex;
  justify-content: center;
}