/* blog.css */

.blog-list {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.blog-list li:last-child {
  border-bottom: none;
}
