*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

.navbar{
    display: flex;
    justify-content:left;
    gap: 0.5rem;
    background-color: rgb(197, 226, 200);
    height: 5rem;
    width: 100%;
    align-items: center;
    padding-left: 5rem;
    
}

.navbar select,button{
    width: 7rem;
    height: 2rem;
    background-color: rgb(179, 236, 236);

}
.navbar input{
    width: 15rem;
    height: 2rem;
    background-color: rgb(179, 236, 236);
}

.container{
    margin: 2rem;
}

.container.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
}

.container.list{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    width: 20rem;
    height: 25rem;
    padding: 2rem;
    word-wrap: break-word;
}

.container.list .card{
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 2rem;
}

.card h2,p{
   padding: 0;
   text-align: center;
}