*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  color: black;
  background-color: white;
}

h1{
  text-align: center;
}
button{
  margin: 15px 0px;
  font-size: 20px;
  font-weight: bold;
  padding: 4px 2px;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}

.dark-mode{
  background:black;
  color: white;
}
