*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    width: 20rem;
    padding: 5%;
    padding-bottom: 0;
    padding-top: 0;
    border: 3px solid black;
    margin-left: 43% ;
    margin-top: 10%;
    background-color: beige;
    border-radius: 20px;
}

.appname{
    font-size: x-large;
    padding-bottom: 20px;
    padding-top: 5%;
    color: rgb(25, 0, 255) ;
}

.input input{
    border: 1px solid black;
    border-radius: 10px;
    width: 17rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
    background-color: rgb(209, 184, 184);
    color: rgb(19, 18, 18);
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 10%;
    column-gap: 4%;
    row-gap: 4%;
    width: 18rem;
    height: 60%;
}

.buttons button{
    font-size: large;
    font-weight: 600;
    background-color: rgba(212, 111, 207, 0.288);
    transition: background 0.3s ease, color 0.3s ease;
}

.buttons button:hover{
    background: #f7f7f7;
    color: rgb(255, 1, 1);
    transform: translateY(-3px);
}






