.header {
    background:#020617;
    color:#ffffff;
    padding:16px 8%;
    display:flex;
    justify-content:space-between;
}

#body {
    margin:0;
    font-family:Poppins,sans-serif;
    background:#f8fafc;
    color:#334155;
}
#main {
    padding:32px 8%;
}
#about {
     display:flex;
     gap:24px;
     align-items:center;
     justify-content: space-between;
     margin-bottom:48px;
}
.project {
    background: #fff;
    padding: 12px;
    flex: 1 1 220px;
}

#projects {
    display:flex;
    gap:16px;
    flex-wrap:wrap;
}
.navbar a{
    color:#fff;
    margin-left:16px;
}
#about img {
    width:160px;
    max-width: 350px;
    height: auto;
    border-radius:10px;
}

#about h1{
    margin-bottom:10px;
}

#projects {
    margin-bottom:40px;
}

.footer {
    text-align:center;
    padding:16px;
    font-size:14px;
    color:#64748b;
}

@media (max-width: 768px) {

  .header {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  #about {
    flex-direction: column;
    text-align: center;
  }

  #about img {
    width: 100%;
    max-width: 250px;
  }
  #contact {
    background:#fff;
    padding:24px;
}

  #projects {
    flex-direction: column;
  }

}

